<%- include("header.ejs"); %>
<%- include("navbar.ejs") %>
    <div class="container justify-content-center">
        <h1 class="text-center">About My Site</h1>
        <p class="t-3">Our company was founded in 2010 with the goal of providing top-quality products and exceptional customer service. We pride ourselves on our attention to detail and commitment to using only the highest-grade materials. Over the years, we have grown to become a trusted name in the industry, with a loyal customer base that spans the globe. We have a talented team of experts who are passionate about what they do and are dedicated to ensuring that every product we sell meets the highest standards of quality. Whether you are in need of a small component or a complex system, we are here to help you find the solution that best fits your needs.</p>
    </div>   
</body>
</html>