<%- include("header.ejs"); %>
    <%- include("navbar.ejs"); %>
    <div class="jumbotron d-flex justify-content-center">
        <h1 class="display-4">Welcome To My Site!</h1>
        
    </div>
</body>
</html>